@import url('https://fonts.googleapis.com/css?family=Roboto');

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

$main-family : 'Roboto Condensed', sans-serif;

$secundary-family : 'Roboto', sans-serif;

$global-size : 0.85rem;;