html, body {
    height : 100%;
    overflow : hidden;
}

main[data-layout] {
    height : 100%;
}

content[data-layout] {
    display: block;
    height : calc(100vh - 70px);
    padding: 0px 15px;
    background : $app-background-color;
}

header[data-layout] { 
    //display : none;
    background: $header-background-color;
    color: $white;
    height: 40px;
    padding: 0 0 0 0;
    position: relative;
    z-index: 3;
    padding: 0px 15px;
    .logo-wp {
        margin : 0;
        height: 40px;
        line-height: 40px;
        .logo-text {
            color   : $header-font-color;
            display : block;
            padding : 0px 12px;
        }
    }
    nav {
        ul {
            margin : 0; padding : 0px 0px;
            list-style : none;
            li {
                display : inline-block;
                float : left;
                width: 120px;
                border-right : 1px solid $header-background-open-color;
                
                &:last-child {
                    border-right : 0px;
                }
                
                &:hover {
                    background : $header-background-open-color;
                }
                
                a {
                    color : $header-font-color;
                    padding: 7px 15px;
                    display: block;
                    &:hover {
                        text-decoration: none;
                    }
                }
                
            }
        }
    }
    
    #global-search {
        
        .search-holder {
             
        }
        
        input {
            margin-top : 5px;
        }
    }
}

footer[data-layout] {
    height : 30px; width : 100%; line-height : 30px;
    border-top : 1px solid lightgray;
}

body {
    font-family : $main-family;    
    font-size : $global-size;
}

h1 {
    
}

h2 {
    
}

h3 {
    
}

h4 {
    
}

a {
    
}

input {
    
}

.hide {
    display: none; 
    visibility: hidden;
}

.form-group {
    label {
        margin : 0;
        font-size : $small-font-size ;
    }
}

.form-group.has-no-margin {
    margin : 0px;
}

.form-input {
    font-family : $main-family, sans-serif;
    width : 100%;
    height: 28px;
    border: 0;
    padding: 0px 8px;
    box-shadow: inset 0px 0px 3px -1px rgba(0,0,0,.49);
    border-radius: 1px;
    
    &[readonly] {
            background: $disabled;
            color: $lightgray-text;
            border: 0;
            // box-shadow: none;
    }
}

.form-btn {
    border: 0;
    background-color : $primary-color;
    color : $white;
    font-size: $small-font-size;
    font-family: $main-family;
    padding : 1px 10px;
    border-radius : 2px;
    outline : none;
    box-shadow: $light-shadow;
    
    &:focus, &:active, &:hover {
        outline : none;
    }
    
    &:active {
        background : $primary-color-active;
        box-shadow : none;
    }
}

.form-btn-default {
    margin: 3px;
    background-color: #f8f8f8;
    color: #484848;
    font-weight: 600;
}