/*****************************************************/

$header-font-color              : #FFF;
$header-background-color        : #6399c7;
$header-background-open-color   : rgb(113, 173, 224);

$small-font-size                : 13px;
$medium-font-size               : 18px;
$big-font-size                  : 18px;



$light-shadow                   : 0.5px 0.5px 4px -1px rgba(0,0,0,.45);

//---------------- GRAY LIGHTS ------------------//
$gray-xs : #fdfdfd;
$gray-sm : #f3f3f3;
$gray-md : #ebebeb;
//-----------------------------------------------//

$subheader-background           : $gray-xs;
$app-background-color           : $gray-md;

$disabled                       : rgb(235, 235, 228);
$lightgray-text                 : rgb(84, 84, 84);
$white                          : #FFF;
$primary-color                  : #42A5F5;
$primary-color-active           : #328ad6;    