/*****************************************************/

$header-font-color              : #FFF;
$header-background-color        : #6399c7;
$header-background-open-color   : rgb(113, 173, 224);

$app-background-color           : #f5f5f5;

$white                          : #FFF;