/*****************************************************/

$header-font-color              : #FFF;
$header-background-color        : #6399c7;
$header-background-open-color   : rgb(113, 173, 224);

$small-font-size                : 13px;
$medium-font-size               : 18px;
$big-font-size                  : 18px;

$app-background-color           : #f5f5f5;


$subheader-background           : #fdfdfd;

$light-shadow                   : 0.5px 0.5px 4px -1px rgba(0,0,0,.45);

$disabled                       : rgb(229, 229, 229);
$lightgray-text                  : #8f8f8f;
$white                          : #FFF;
$primary-color                  : #42A5F5;
$primary-color-active           : #328ad6;    